#portfolio, #about, #technologies, #testimonials, #contactMe
{
    width: 96%;
    height:82%;
    left: 100%;
    position:fixed;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #414141;
    color: white;
    font-family: 'Bookman Old Style';
    padding: 10px 20px;
    top:110px;
    display: block;
}

#testimonials{
    font-style: italic;
    text-align: center;
}

.footer{
    bottom: 35px;
    height: 25px;
    width: 98%;
    padding-top: 5px;
    position: fixed;
}

body{
    background-color:#333;
    color: white;
    font-family: "Lucida Console";
}

table{
    width: 100%;
}

.wider{
    letter-spacing: 10px;
}


.left{
    text-align: -webkit-left;
}

.right{
    text-align: -webkit-right;
}

.center{
    text-align: -webkit-center;
}

#tabs
{
    height: 97%;
    overflow-y: auto;
}

.title{
    letter-spacing: 10px;
    color: white;
    font-size: 2em;
}

.header{
    background-color: black;
    padding: 5px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}