html{
    max-height: 640px;
    overflow-y: scroll;
}
.wrapper{
    width: 1024px;
}

#title{
    top: 50px;
    height: 50px;
    background-color: #000000;
}

#portfolio, #about, #technologies, #testimonials, #contactMe
{
    top: 100%;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #414141;
    color: white;
    padding: 10px 20px;
    position: absolute;
    width: 1024px;
    display: none;
}

#about{
    display: block;
}

.hidden{
    display: hidden;
}

#testimonials{
    font-style: italic;
    text-align: center;
}

body{
    background-color:#333;
    color: white;
    font-family: "Lucida Console";
}

.wider{
    letter-spacing: 10px;
}

.left{
    text-align: -webkit-left;
}

.right{
    text-align: -webkit-right;
}

.center{
    text-align: -webkit-center;
}

#tabs
{
    height: 97%;
    overflow-y: auto;
}

.fixed{
    position: fixed;
}

#radioset{
    top:75px;
}